In [10]:
a = 10
if a == 11:
     print("this id my fist condition")

In [16]:
a = 10
if a > 5:
    print("pass")

pass

In [18]:
a = 10
if a > 9:
    print("print this if conditionis true")

print this if conditionis true

In [29]:
a = 10
if a !=11:
    print("my condition is false")
else:
    print("print this is true")

my condition is false

In [42]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 11:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail than do this")

if all the blocks will fail than do this

In [53]:
price = 500
if price > 500:
    print("i won't be be able to buy a jacket")
elif price < 500:
    print("i will be able to buy a jacket")
elif price ==500:
    print("for sure i will able to buy")
else:
    ("i don't know")

for sure i will able to buy

In [54]:
price > 500

False

In [55]:
price < 500

False

In [56]:
price <=500

True

In [57]:
price ==500

True

In [59]:
l = [1,2,3,4,5,6,7]
2 in l

True

In [61]:
if 9 in l:
    print("try to perform a task")
else:
    print("do not perform the task")

do not perform the task

In [62]:
l

[1, 2, 3, 4, 5, 6, 7]

In [70]:
if 1 in l:
    print("try to do a addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")
if 4 in l:
    print("this is new statement")

try to do a addition
this is new statement

this going to run only true condition which is in very first line
if and elif is in consider in a one block
again if is consider as a new block

In [78]:
price = 500
if price > 600:
    print("we can't buy a jacket")
elif price <= 500:
    print("we can buy a jacket")

we can buy a jacket

In [79]:
a = 400

In [106]:
b = int(input())

35

In [107]:
b

35

In [108]:
type(b)

int

In [19]:
price = int(input())
if price < 500 :
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will able to buy a shirt")
        if price < 200:
            print("i would like to do something")
    else:
        print("i won't be able to buy anything")
else :
    print("i wont be able to buy anything with this price tag")
    if price > 500:
        print ("let's try something else")

600
i wont be able to buy anything with this price tag
let's try something else

In [58]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("NO TOFEL")
        if marks < 400:
            print("try something else")
    else:
        print("YOU GOT TOFEL")
else:
    print("you got GRE congrats")

300
NO GRE
NO TOFEL
try something else

In [69]:
val = float(input("enter a floating points number"))
if val >= 0 :
    if val ==0:
        print("entered value is zero")
    else:
        print("enter value is a positive number")
else:
    print("entered number is a negative number")

enter a floating points number0
entered value is zero

In [81]:
a = 10
if a < 10 or a > 10:
    print("try to do something")
else:
    print("false")

false

    and                                                           OR
0    0  = 0      F  F = F                 F    F = F

0    1  = 0      F  T = F                 F    T = T

1    0  = 0      T  F = F                 T    F = T

1    1  = 1      T  T = T                 T    T = T

In [88]:
a = "sudh"
if a == "sudh" and a =="Sudh":
    print("this is sudh ")
else:
    print("false")

false

In [97]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 or c == 12 or d == 13:
    print ("let's do something")
else:
    print("false")

let's do something

In [98]:
d ={'key1' : 'value' , 'key2' : 'sudh' , 'key3' : 'ineuron'}

In [100]:
d['key1']

'value'

In [105]:
if d['key1'] == "value" and d['key2'] == "sudh"  and  d['key3'] ==  "ineuron":
    print("all the values are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are verified
dict_values(['value', 'sudh', 'ineuron'])

In [106]:
d['key1']

'value'

In [108]:
l = [1,2,3,4,5,"sudh", 234.45]

In [110]:
l[0]

1

In [111]:
l[1]

2

In [112]:
l[2:5]

[3, 4, 5]

In [115]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [116]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [117]:
5 in l

True

In [119]:
'sudh' in l

True

In [120]:
for d in l:
    print(d)

1
2
3
4
5
sudh
234.45

In [121]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [122]:
l = [1, 2, 3, 4, 5, 6]

In [123]:
for i in l:
    print(i + 1)

2
3
4
5
6
7

In [124]:
l = [1, 2, 3, 4, 5, 'sudh', 234.45]

In [125]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [129]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [127]:
type(6)

int